ENV=prod

# Binance API
BINANCE_API_KEY=xxxx
BINANCE_API_SECRET=xxxx
BINANCE_TESTNET_API_KEY=xxxx
BINANCE_TESTNET_API_SECRET=xxxx

# Telegram alerting
TELEGRAM_BOT_TOKEN=xxxx:xxxxxx
TELEGRAM_CHAT_ID=88888888

# Prometheus
PROMETHEUS_PORT=9200

#Postgre
POSTGRES_USER=username
POSTGRES_PASSWORD=password
POSTGRES_DB=db_name
DATABASE_URL=postgresql://username:password@127.0.0.1:5432/db_name

# Redis
REDIS_PASSWORD=password
